@charset "UTF-8";
/* Variables SIDEBAR*/
/* estilo header */
.img-user {
  width: auto;
  height: 35px;
  border: 2px solid grey;
  border-radius: 50px;
  -webkit-box-shadow: 4px 4px 5px 0px #ccc;
  -moz-box-shadow: 4px 4px 5px 0px #ccc;
  box-shadow: 4px 4px 5px 0px #ccc; }

.barra-azul {
  margin: 10px;
  background-color: #151689;
  color: white;
  font-size: 16px;
  /* font-family: 'Montserrat', sans-serif;
        src: url('fonts/static/Montserrat-Black.ttf'); */
  font-style: normal;
  font-weight: normal;
  width: 100%;
  border-radius: 5px;
  height: 4vh; }

.tipografia-barra-azul {
  font-family: "Montserrat", sans-serif;
  /* font-family:'Montserrat-Italic-VariableFont_wght';  */
  src: url("fonts/static/Montserrat-Black.ttf");
  src: url("fonts/Montserrat-Italic-VariableFont_wght.ttf");
  src: url("fonts/Montserrat-VariableFont_wght.ttf");
  src: url("fonts/static/Montserrat-Black.ttf");
  font-weight: bold;
  font-size: 14px;
  margin-top: -10px; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link, .btn-primary, .bg-light-btn-salir, .btn-resumen-poliza, .btn-resumen-poliza:hover, .form-label,
.form-check-label, .input-style, .btn-light, .card-text, .icon-cli-sidebar, .color-text, .cuadro-sidebar {
  font-family: "Montserrat", sans-serif;
  src: url("fonts/static/Montserrat-Black.ttf");
  src: url("fonts/Montserrat-Italic-VariableFont_wght.ttf");
  src: url("fonts/Montserrat-VariableFont_wght.ttf");
  src: url("fonts/static/Montserrat-Black.ttf"); }

/* estilo header */
/*@import "./secciones/estilo";*/
/* letra negrita del menu central del header */
.nav-item {
  font-weight: bold; }

.pipe {
  color: #ccc; }

.letra-menu {
  font-size: 14px;
  font-weight: bold;
  color: black; }

.letra-menu-user {
  color: black;
  font-family: 'Montserrat-Black', sans-serif;
  /* font-family:'Montserrat-Italic-VariableFont_wght';  */
  src: url("fonts/static/Montserrat-Black.ttf");
  src: url("fonts/Montserrat-Italic-VariableFont_wght.ttf");
  src: url("fonts/Montserrat-VariableFont_wght.ttf");
  src: url("fonts/static/Montserrat-Black.ttf"); }

/* Tipo de letra tamaño y grosor */
/* Iconos debajo de la barra azul */
.img-icono {
  /* width: 80px; */
  margin: 1px auto;
  height: 100px; }

.bg-blanco {
  background-color: white;
  border-radius: 5px;
  width: 800px; }

.bg-light {
  border-radius: 5px;
  width: 94px; }

/* Iconos debajo de la barra azul */
/* Fondo gris iconos */
.iconos {
  background-color: #fcfcfc;
  padding: 4px;
  border-radius: 15px; }

.btn-primary {
  background-color: #151689;
  width: 300px;
  border-radius: 50px;
  font-weight: bold; }

.bg-light-btn-salir {
  border-radius: 5px;
  width: 110px;
  justify-content: flex-end; }

.fondo-color-btn {
  background-color: white; }

/* Fondo gris iconos */
/* Texto debajo de los iconos */
.text-a-icon {
  text-decoration: none;
  color: #67aeff;
  font-size: 0.9em;
  text-align: center;
  font-weight: bold; }

.redondeado {
  border-radius: 10px; }

/* Accordion */
button.accordion-button {
  background-color: #e7eef6;
  border-radius: 10px;
  /* Redondeado datos*/
  height: 5vh;
  font-weight: bold;
  width: 110%;
  margin-left: -30px;
  border: none; }

.accordion-button:focus {
  z-index: 3;
  border: none;
  outline: 0;
  /*box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);*/ }

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("icons/plus.png");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
  margin-left: 10px;
  margin-right: 95%;
  border: none; }

.accordion-button:not(.collapsed)::after {
  background-image: url("icons/minus.png");
  transform: rotate(-180deg);
  margin-left: 10px;
  margin-right: 95%;
  border: none; }

.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgba(3, 3, 3, 0.13);
  border: none; }

div.accordion-body {
  background-color: #fcfcfc; }

.accordion-header {
  margin-left: 30px; }

/* .accordion-flush{
            border: solid 1px red;
            border-radius: 15px;
        } */
.accordion-datos {
  margin-left: -110px; }

/* Accordion */
/* boton icono impresora */
.impresora {
  font-size: 12px; }

.impresora:hover {
  color: blue; }

/* boton icono impresora */
.boton-hover:hover {
  color: blue; }

.color-text {
  color: #67aeff;
  font-weight: bold;
  font-size: 10px; }

.color-text-gris {
  color: grey; }

.btn-resumen-poliza {
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 5px 0px #ccc;
  -moz-box-shadow: 4px 4px 5px 0px #ccc;
  box-shadow: 4px 4px 5px 0px #ccc;
  width: 220px;
  font-size: 14px;
  margin-bottom: -10px; }

.btn-resumen-poliza:hover {
  color: blue; }

.text-btn-der {
  margin: 10px auto; }

.principal {
  border: none; }

.card-body {
  background-color: #fcfcfc;
  width: 110%;
  margin-top: -18px;
  margin-left: 1px;
  /* Color de fondo */ }

.cuadro {
  background-color: white;
  border-radius: 5px;
  margin-right: -5px; }

.form-label,
.form-check-label {
  font-size: 11px;
  color: #9d9c9c;
  width: 150px;
  font-weight: bold; }

/* gris claro*/
/* INPUT ESTILOS*/
.input-style {
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  border-radius: 5px; }

.text-into-input {
  font-size: 11px;
  color: black;
  font-weight: bold; }

.input-style-dark {
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  font-weight: bold; }

.btn-light {
  color: #67aeff;
  font-weight: bold; }

/***************************/
.card-header {
  /*background: transparent;*/
  background-color: #eeeeee;
  height: 40px;
  border-radius: 30px;
  border: none; }

.card {
  background-color: #fcfcfc; }

.titulo-card {
  color: black;
  margin-top: -8px; }

.card-text {
  font-weight: bold; }

/* Color tamaño icono */
.icon-cli-sidebar {
  font-size: 25px;
  color: #67aeff; }

.color-text {
  color: #67aeff;
  font-weight: bold;
  font-size: 10px; }

.cuadro-sidebar {
  background-color: white;
  /*padding: 60px;*/
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 12px;
  margin-left: -30px;
  width: 160px; }

.sidebar {
  /* background-color: red; */
  margin-right: -100px;
  background-color: #fcfcfc; }

.icon-cli-sidebar {
  font-size: 25px;
  color: #67aeff; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.contenedor {
  /* background-color: #f5f4f4; */
  background-color: white; }
