/* Variables SIDEBAR*/
.tomador, .cont-form-izq, .cen, .der {
  margin-top: 0.5;
  background-color: white;
  margin: 4px;
  border-radius: 4px;
  border: 1px solid blue;
  padding: 10px; }

.caja-superior {
  margin-top: 0.5;
  background-color: white;
  margin: 4px;
  border-radius: 4px;
  border: 1px solid red;
  padding: 10px; }

.cont-form-izq, .cen, .der, .tipografia, .tipo-letra {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #3552D1; }

.tipografia-barra-azul {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: white; }

/* BARRA AZUL */
.contenedor-azul {
  margin: 10px;
  background-color: #0C0B71;
  color: white;
  font-size: 16px;
  -webkit-box-shadow: 4px 4px 5px 0px #ccc;
  -moz-box-shadow: 4px 4px 5px 0px #ccc;
  box-shadow: 4px 4px 5px 0px #ccc;
  font-family: "Montserrat", sans-serif;
  src: url("fonts/Montserrat-VariableFont_wght.ttf") format("ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat", sans-serif; }

ul {
  background-color: white; }

a.nav-link {
  margin: 0 auto;
  color: black; }

.pipe {
  color: #ccc; }

.img-user {
  max-width: 40px;
  max-height: auto; }

.separador {
  padding: 30px; }

.cont-barra-azul {
  margin-top: 120px; }

.barra-azulada {
  background-color: #3552D1;
  color: white;
  margin-left: -40px;
  padding-left: 30px;
  border-radius: 10px;
  width: 90%; }

.blanco {
  text-align: center;
  font-size: 0.9em;
  color: #3552D1;
  margin: 0 auto;
  text-decoration: none; }

.card-body {
  background-color: #FAFAFF; }

.radio-datos {
  margin-top: 13px; }

/***************/
.pos-center {
  justify-content: center; }

.cont-form-izq {
  padding: 5px; }

/***************/
.img-logo {
  background-color: white; }

/* Estilo Iconos que estan debajo de la barra azul */
.text-a-icon {
  text-decoration: none; }

/* Estilo Boton Salir*/
.btn-der {
  padding: 2px; }

.text-btn-der {
  text-align: left; }

.card {
  padding: 4px;
  margin: 3px; }

.card-text {
  font-size: 12px; }

.cotenedor-icons {
  border: 2px solid blue; }

.titulo-card {
  color: white; }

.sombreado {
  box-shadow: 0px 0px 5px 1px #a5a5a5; }

/* ESTILOS DE LA BARRA LATERAL DERECHA "sidebar" */
.cont-sidebar {
  padding: 20px;
  border: 1px solid red;
  border-radius: 5px;
  color: black;
  text-align: center;
  font-size: 12px;
  box-shadow: 0px 0px 5px 1px #a5a5a5; }

.icon-cli-sidebar {
  font-size: 25px;
  color: #67aeff; }

hr {
  height: 1px;
  background-color: red;
  border: 1px black solid;
  width: 90px; }

.divider {
  background-color: red; }

.cliente-contenedor {
  padding-top: 10px; }

/* Texto Celeste sidebar */
.color-text {
  color: #67aeff;
  font-weight: bold;
  font-size: 10px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.contenedor {
  padding: 10px; }
