@import "./variables/variables";
@import "./variables/extends";
// @import "./secciones/caca";
/*@import "./secciones/estilo";*/
@import "./secciones/header";
@import "./secciones/barra-azul";
@import "./secciones/iconos";
// @import "./secciones/datos";
@import "./secciones/sidebar";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  
}

html{
  height: 100vh;
}