%caja-form{
    margin-top: 0.5;
    background-color: white;
    margin: 4px;
    //padding: 1px;
    border-radius:  4px;
    border: 1px solid #ccc;
    padding: 10px;
    // -webkit-box-shadow: 4px 4px 5px 0px rgb(236, 233, 233);
    // -moz-box-shadow: 4px 4px 5px 0px rgb(236, 233, 233);
    // box-shadow: 4px 4px 5px 0px rgb(236, 233, 233);
}

%tipo-de-letra{
    font-size: 11px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}