/* Variables SIDEBAR*/

$color-border-sidebar: #ccc;
$color-texto-sidebar: #313437;
$color-celeste-sidebar: #67aeff;;
$color-azul: #151689;
$color-texto-form: #3552D1;

$monserrat: 'Montserrat', sans-serif;