        /* Estilo del desplegable */
        button.accordion-button {
            background-color: #e7eef6;
            border-radius: 10px;            
            height: 10px; 
            font-weight: bold;
            border: none;
            width: 100%;
    
        } 
        button.accordion-button.tomador {
            background-color: #e7eef6;
            border-radius: 10px;            
            height: 10px; 
            font-weight: bold;
            border: none;
            width: 100%;
    
        } 
        
    /* Estilo del desplegable */
    // button.accordion-button {
    //     background-color: #e7eef6;
    //     border-radius: 10px;
    //     height: 0px;
    //     font-weight: bold;
    //     border: none;
        

    // }

    // button.accordion-button {
//     background-color: #e7eef6;
//     border-radius: 10px;
//     height: 5vh;
//     width: 85vw;
//     border: none;
// }
    .accordion-button:focus {
        z-index: 3;
        border: none;
        outline: 0;
        /*box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);*/
    }

    .accordion-button::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        background-image: url('icons/plus.png');
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform .2s ease-in-out;
        margin-left: -65px;
        margin-right: 95%;
        border: none;

    }

    .accordion-button:not(.collapsed)::after {
        background-image: url('icons/minus.png');
        transform: rotate(-180deg);
        margin-left: -65px;
        margin-right: 95%;
        border: none;
    }


    .accordion-button:not(.collapsed) {
        color: #0c63e4;
        background-color: #e7f1ff;
        box-shadow: inset 0 -1px 0 rgba(3, 3, 3, 0.13);
        border: none;
    }

    div.accordion-body {
        background-color: #fcfcfc;

    }

    /* boton icono impresora */
    .impresora {
        font-size: 14px;
    }

    .impresora:hover {
        color: blue;
    }

    /* boton icono impresora */

    .boton-hover:hover {
        color: blue;
    }

    .boton-hover:hover {
        color: blue;
    }

    .color-text {
        color: #67aeff;
        font-weight: bold;
        font-size: 10px;
    }

    .color-text-gris {
        color: grey;
    }


    .btn-resumen-poliza {
        background-color: white;
        border-radius: 20px;
        -webkit-box-shadow: 4px 4px 5px 0px #ccc;
        -moz-box-shadow: 4px 4px 5px 0px #ccc;
        box-shadow: 4px 4px 5px 0px #ccc;
        width: 230px;

        font-size: 4px;
        margin-bottom: -10px;
        font-family: 'Montserrat', sans-serif;
        /* @extend %tipo-letra-monserrat; */

    }

    .btn-resumen-poliza:hover {
        color: blue;
        font-family: 'Montserrat', sans-serif;
        /*@extend %tipo-letra-monserrat;*/
    }

    /**********/

    .card-body {
        background-color: #fcfcfc;
        /* background-color: $color-fondo-web; */
        /* width: 100%;
    margin-top: -18px;
    margin-left: 1px; */
        /* Color de fondo */
    }


    /* INPUT ESTILOS*/
    .input-style {
        font-family: 'Montserrat', sans-serif;
        /* @extend %tipo-letra-monserrat; */
        background-color: rgb(231, 231, 231);
        border: 1px solid #ccc;
        border-radius: 5px;
    }


    .text-into-input {
        font-family: 'Montserrat', sans-serif;
        /* @extend %tipo-letra-monserrat; */
        font-size: 11px;
        color: black;
        font-weight: bold;
    }

    /* input cuadro izquierdo */


    .input-style-dark {
        background-color: #ccc;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: black;
        font-weight: bold;
    }

    .btn-light {
        color: #67aeff;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        /* @extend %tipo-letra-monserrat; */
    }

    .card-text {
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        /* @extend %tipo-letra-monserrat; */
    }

    .form-label,
    .form-check-label {
        font-family: 'Montserrat', sans-serif;
        /* @extend %tipo-letra-monserrat; */
        font-size: 11px;
        color: rgb(157, 156, 156);
        width: 150px;
        font-weight: bold;
    }

    div.accordion-body {
        /* background-color: $color-fondo-web; */
        background-color: #fcfcfc;

    }




        /* ACORDION  TOMADOR ESTILO */
        .accordion-button.tomador::after {
        flex-shrink: 0;
        width: 85vw;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        background-image: url('icons/plus.png');
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform .2s ease-in-out;
        margin-left: -86px;
        margin-right: 95%;
        border: none;

    }

    .accordion-button.tomador:not(.collapsed)::after {
        background-image: url('icons/minus.png');
        transform: rotate(-180deg);
        margin-left: -86px;
        margin-right: 95%;
        border: none;
    }


    .accordion-button.tomador:not(.collapsed) {
        color: #0c63e4;
        background-color: #e7f1ff;
        box-shadow: inset 0 -1px 0 rgba(3, 3, 3, 0.13);
        border: none;
    }

    /* ACORDION  TOMADOR ESTILO */





    /* ACORDION  garantias ESTILO */
    .accordion-button.garantias::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        background-image: url('icons/plus.png');
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform .2s ease-in-out;
        margin-left: -93px;
        margin-right: 95%;
        border: none;

    }

    .accordion-button.garantias:not(.collapsed)::after {
        background-image: url('icons/minus.png');
        transform: rotate(-180deg);
        margin-left: -93px;
        margin-right: 95%;
        border: none;
    }


    .accordion-button.garantias:not(.collapsed) {
        color: #0c63e4;
        background-color: #e7f1ff;
        box-shadow: inset 0 -1px 0 rgba(3, 3, 3, 0.13);
        border: none;
    }

    /* ACORDION  garantias ESTILO */



    /* ACORDION  MantCliente ESTILO */
    .accordion-button.mancliente::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        background-image: url('icons/plus.png');
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform .2s ease-in-out;
        margin-left: -114px;
        margin-right: 95%;
        border: none;

    }

    .accordion-button.mancliente:not(.collapsed)::after {
        background-image: url('icons/minus.png');
        transform: rotate(-180deg);
        margin-left: -114px;
        margin-right: 95%;
        border: none;
    }


    .accordion-button.mancliente:not(.collapsed) {
        color: #0c63e4;
        background-color: #e7f1ff;
        box-shadow: inset 0 -1px 0 rgba(3, 3, 3, 0.13);
        border: none;
    }

    /* ACORDION  MantCliente ESTILO */



    /* ACORDION  suplemento ESTILO */
    .accordion-button.suplemento::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        background-image: url('icons/plus.png');
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform .2s ease-in-out;
        margin-left: -110px;
        margin-right: 95%;
        border: none;

    }

    .accordion-button.suplemento:not(.collapsed)::after {
        background-image: url('icons/minus.png');
        transform: rotate(-180deg);
        margin-left: -110px;
        margin-right: 95%;
        border: none;
    }


    .accordion-button.suplemento:not(.collapsed) {
        color: #0c63e4;
        background-color: #e7f1ff;
        box-shadow: inset 0 -1px 0 rgba(3, 3, 3, 0.13);
        border: none;
    }

    /* ACORDION  suplemento ESTILO */





    /* ACORDION  comentarios ESTILO */
    .accordion-button.comentarios::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        background-image: url('icons/plus.png');
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform .2s ease-in-out;
        margin-left: -115px;
        margin-right: 95%;
        border: none;

    }

    .accordion-button.comentarios:not(.collapsed)::after {
        background-image: url('icons/minus.png');
        transform: rotate(-180deg);
        margin-left: -115px;
        margin-right: 95%;
        border: none;
    }


    .accordion-button.comentarios:not(.collapsed) {
        color: #0c63e4;
        background-color: #e7f1ff;
        box-shadow: inset 0 -1px 0 rgba(3, 3, 3, 0.13);
        border: none;
    }

    /* ACORDION  comentarios ESTILO */


    /* ACORDION  riesgo ESTILO */
    .accordion-button.riesgo::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        background-image: url('icons/plus.png');
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform .2s ease-in-out;
        margin-left: -71px;
        margin-right: 95%;
        border: none;
    }

    .accordion-button.riesgo:not(.collapsed)::after {
        background-image: url('icons/minus.png');
        transform: rotate(-180deg);
        margin-left: -71px;
        margin-right: 95%;
        border: none;
    }


    .accordion-button.riesgo:not(.collapsed) {
        color: #0c63e4;
        background-color: #e7f1ff;
        box-shadow: inset 0 -1px 0 rgba(3, 3, 3, 0.13);
        border: none;
    }

    /* ACORDION  riesgo ESTILO */

    /* ACORDION  asegurado ESTILO */
    .accordion-button.asegurado::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        background-image: url('icons/plus.png');
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform .2s ease-in-out;
        margin-left: -100px;
        margin-right: 95%;
        border: none;

    }

    .accordion-button.asegurado:not(.collapsed)::after {
        background-image: url('icons/minus.png');
        transform: rotate(-180deg);
        margin-left: -100px;
        margin-right: 95%;
        border: none;
    }


    .accordion-button.asegurado:not(.collapsed) {
        color: #0c63e4;
        background-color: #e7f1ff;
        box-shadow: inset 0 -1px 0 rgba(3, 3, 3, 0.13);
        border: none;
    }




    .form-check-eiac {
        display: block;
        min-height: 1.5rem;
        padding-left: 1.5em;
        margin-bottom: 0.125rem;
        margin-right: -64px;
    }


    /***************************/
