// .header {
//     /* background-color: orangered; */
//     width: 110%;
//     margin-left: -55px; 

// }


.navbar-expand-sm {
    flex-wrap: nowrap;
    /* justify-content: flex-start; */
}

.navbar-expand-lg {
    flex-wrap: nowrap;
    /* justify-content: flex-start; */
}
    /* letra negrita del menu central del header */
    .nav-item {        
        font-weight: bold;
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        @extend %tipo-letra-monserrat;
    }


// Imagen usuario
.img-user {
    @extend %img-user;
}

.pipe {
    color: #ccc;
}

.letra-menu {
        
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.letra-menu-user {
    color: black;
    font-family: 'Montserrat-Black', sans-serif;
/* font-family:'Montserrat-Italic-VariableFont_wght';  */
src: url('fonts/static/Montserrat-Black.ttf');
src: url('fonts/Montserrat-Italic-VariableFont_wght.ttf');
src: url('fonts/Montserrat-VariableFont_wght.ttf');
src: url('fonts/static/Montserrat-Black.ttf'); 
}