/* Iconos debajo de la barra azul */
.img-icono {
    /* width: 80px; */
    margin: 1px auto;
    height: 100px;
}

.bg-blanco {
    background-color: white;
    border-radius: 5px;
    width: 800px;
}

.bg-light {
    border-radius: 5px;
    width: 94px;
}

/* Iconos debajo de la barra azul */

/* Fondo gris iconos */
.iconos {
    background-color: $color-fondo-web;
    padding: 4px;
    border-radius: 15px;
}

.btn-primary {
    background-color: #151689;
    width: 300px;
    border-radius: 50px;
    @extend %tipo-letra-monserrat;
    font-weight: bold;
}

.bg-light-btn-salir {
    border-radius: 5px;
    width: 110px;
    justify-content: flex-end;
    @extend %tipo-letra-monserrat;
    
}

.fondo-color-btn {
    background-color: white;

}

/* Fondo gris iconos */

/* Texto debajo de los iconos */
.text-a-icon {
    text-decoration: none;
    color: #67aeff;
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
}